@import "tailwindcss";
::-webkit-scrollbar {
  display: none;
}
html, body, #root {
  height: 100%;
  background: #000;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-enter {
  animation: fadeIn 0.5s ease;
}