@import "tailwindcss";
::-webkit-scrollbar {
  display: none;
}
html, body, #root {
  height: 100%;
  background: #000;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-enter {
  animation: fadeIn 0.5s ease;
}
body {
  font-family: 'Inter', sans-serif;
}

.input {
  @apply w-full p-3 bg-[#0f172a] rounded-lg border border-slate-700 text-sm 
  focus:outline-none focus:border-purple-500 focus:ring-1 focus:ring-purple-500;
}